<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537205934223-d1u91trn3277eqnajtaagm6t2tqsgja2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537205934223-d1u91trn3277eqnajtaagm6t2tqsgja2</string>
	<key>API_KEY</key>
	<string>AIzaSyAsjTjm-nFJLFiTDYjlyvUy2b6W8aL_G20</string>
	<key>GCM_SENDER_ID</key>
	<string>537205934223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gusrylmubarok.flutix.flutix</string>
	<key>PROJECT_ID</key>
	<string>flutix-80965</string>
	<key>STORAGE_BUCKET</key>
	<string>flutix-80965.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537205934223:ios:a4d8c5924fac2f824588fa</string>
</dict>
</plist>